*{
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.home-container {
  font-family: Arial, sans-serif;
  background-image: url('../img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 3rem 5vw;
  display: flex;
  font-family:Montserrat ;
  font-size: 23px;
  font-weight: 300;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.title-wrapper {
  width: 100%;
  text-align: left;
}

.title-image {
  max-width: 1000px;
  height: auto;
  margin-bottom: 2em;
  margin-top: -3em;
}

.content-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: -15em;
  flex: 1;
  min-height: 300px;
}

.description-box, .instructions {
  max-width: 800px;
  padding: 2rem;
  margin-bottom: 2rem;
  background: none;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 30px black ;
}


.description-box {
  max-width: 680px;
  padding-left: 2rem;
  text-align: justify;
}

.description-box h2 {
  font-size: 1.8rem;
  padding: 0;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

.instructions {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  margin-top: 3rem;
  text-align: justify;
}

.instructions h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.instructions p {
  margin-bottom: 1rem;
}


.start{
  text-align: center;
}

.time-note {
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.7em;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);   
}

.start-btn {
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  background-color: white;
  color: #39546e;  border: none;
  width: 40em;
  border-radius: 70px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.start-btn:hover {
  background-color: #e0e0e0;
}
