*{
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
@font-face{
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat.woff2) format('woff2');
}

.result-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.result-header {
  margin-right:130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.result-check-icon {
  width: 140px;
  margin-right: -25px;
  height: 140px;
}

.result-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
}

.result-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  /* gap: 10px;
  flex-wrap: wrap; */
}

.button-with-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 260px;
  padding:20px 20px;
  border: none;
  border-radius: 15px;
}

.result-btn {
  padding: 20px 25px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  border: none;
  background-color: #3b82f6;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s;
}


.save-button{
  background-color: #f3e2d3;
  border:1px solid #000000 ;
}

.send-button{
  background-color: #cedbea;
  border:1px solid #000000 ;
}

.save-button:hover {
  background-color: #eed5c0;
}

.send-button:hover {
  background-color: #bad0e9;
}

.result-note {
  font-size: 12px;
  margin-top: 6px;
  color: #474747;
  text-align: center;
}

.placeholder {
  margin: 30px auto;
  width: 100%;
  height: 250px;
  border: 2px dashed #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 20px;
}

.result-description,
.result-formula {
  text-align: justify;
  margin-top: 30px;
  line-height: 1.6;
  font-weight: 500;
}

.result-graph {
  width: 100%;
  max-width: 800px; /* например, 800px, можешь изменить на любое число */
  height: auto;
  margin: 10px  auto 0 30px; /* центрирование */
  display: block;
}

.result-formula {
  text-align: justify;
  margin-top: 40px;
}

.result-subtitle {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
}
.first-subtitle{
  margin-top: 20px;
}
.round-scale-image{
  width: 120px;
}

.scale-section-title{
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 10px;
}

.result-scale-image {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  display: block;
}

.result-footer {
  margin-top: 40px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
  .result-container {
    padding: 20px 10px;
  }

  .result-header {
    flex-direction: column;
    margin-right: 0;
  }

  .result-check-icon {
    width: 80px;
    height: 80px;
  }

  .result-title {
    font-size: 24px;
    text-align: center;
  }

  .result-btn {
    font-size: 15px;
    padding: 14px 18px;
  }

  .result-graph {
    margin-left: 0;
  }

  .round-scale-image {
    width: 80px;
  }

  .result-footer {
    font-size: 16px;
  }
}