{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="centered-square">
        <form id="register-form">
            <h2>Регистрация нового пользователя</h2>

            <div class="form-group">
                <label for="email">Почта:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label>Пол:</label>
                <div class="radio-group">
                    <label for="male">
                        <input type="radio" id="male" name="sex" value="Мужской" required> Мужской
                    </label>
                    <label for="female">
                        <input type="radio" id="female" name="sex" value="Женский" required> Женский
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="birth_date">Дата рождения:</label>
                <input type="date" id="birth_date" name="birth_date" required>
            </div>

            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>